{% extends 'base.html.twig' %}
{% block title %}
    Tuto - Accueil 
{% endblock %}
{% block body %} 
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur ma page  de tuto</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Pour s'inscrire, c'est par </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
{% endblock %}

